$main: #ffffff;
$background: #27212e;
$highlight-background: #eb64b927;

$punctuation: #7b6995;
$keyword: #40b4c4;
$operator: #ff5598;
$string: #b4dce7;
$comment: #91889b;
$prolog: $comment;
$cdata: $comment;
$function: #eb64b9;
$boolean: #ffe261;
$number: #b381c5;
$selector: #eb64b9;
$property: #40b4c4;
$tag: #74dfc4;
$attr-value: #b4dce7;
$constant: $boolean;
$builtin: $boolean;
$important: $keyword;
$atrule: $keyword;
$doctype: $tag;
$operator: $tag;
$inserted: $tag;
$class-name: $tag;
$symbol: $tag;
$attr-name: $selector;
$deleted: $selector;
$regex: $attr-value;
$char: $attr-value;
$variable: #ffffff;
$entity: $variable;
$url: $variable;

body {
    background: $background;
    color: $main;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.codecup {
    background: $background;
    color: $main;
}

.codecup .hljs-punctuation, .codecup .hljs-bullet { color: $punctuation; }
.codecup .hljs-keyword { color: $keyword; }
.codecup .hljs-operator { color: $operator; }
.codecup .hljs-string { color: $string; }
.codecup .hljs-comment { color: $comment; }
.codecup .hljs-function { color: $function; }
.codecup .hljs-boolean { color: $boolean; }
.codecup .hljs-number { color: $number; }
.codecup .hljs-selector { color: $selector; }
.codecup .hljs-property { color: $property; }
.codecup .hljs-tag { color: $tag; }
.codecup .hljs-attr-value { color: $attr-value; }

.codecup .hljs-prolog { color: $prolog; }
.codecup .hljs-cdata { color: $cdata; }
.codecup .hljs-constant { color: $constant; }
.codecup .hljs-builtin { color: $builtin; }
.codecup .hljs-important { color: $important; }
.codecup .hljs-section { color: $important; }
.codecup .hljs-atrule { color: $atrule; }
.codecup .hljs-doctype { color: $doctype; }
.codecup .hljs-operator { color: $operator; }
.codecup .hljs-inserted { color: $inserted; }
.codecup .hljs-class-name { color: $class-name; }
.codecup .hljs-symbol { color: $symbol; }
.codecup .hljs-attr-name { color: $attr-name; }
.codecup .hljs-deleted { color: $deleted; }
.codecup .hljs-regex { color: $regex; }
.codecup .hljs-char { color: $char; }
.codecup .hljs-variable { color: $variable; }
.codecup .hljs-entity { color: $entity; }
.codecup .hljs-url { color: $url; }

.codecup .hljs-strong { font-weight: bold; }
.codecup .hljs-emphasis { font-style: italic; }
.codecup .hljs-entity { cursor: help; }

.codecup__textarea {
    caret-color: $main !important;
    color: transparent !important;
}

// For some reason merging these declarations breaks the editor
.codecup__textarea::-moz-selection {
    color: transparent !important;
    background: $highlight-background !important;
}

.codecup__textarea::selection {
    color: transparent !important;
    background: $highlight-background !important;
}

.codecup {
    border: none !important;
}

.codecup::-moz-selection, .codecup ::-moz-selection {
    background: $highlight-background !important;
}

.codecup::selection, .codecup ::selection {
    background: $highlight-background !important;
}

// Make codecup wrap long lines (I don't know why this isn't the default)
.codecup__textarea, .codecup__pre {
    white-space: pre-wrap !important;
}